.nav{
    & ul{
        display: $disply-flex;
        margin: 20px;
        & li {
            list-style: none;
        }

        & a{
            text-decoration: none;
            margin-left: 30px;
            color: black;
            font-weight: 500;
            
        }
        & a:hover{
            color: red;
            }
    }
}